.app {
  min-height: 100vh;
  min-width: 100vw;
  width: fit-content;
  background-color: #a8f0bb;
}

.error{
  color: #c72100;
  font-size: 0.8em;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}